/* Asterisk wildcard selector to override default style added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header*/
header {
background-color: lightcoral;
}
/* main */
main {
background-color: lightblue;
/* Make main element take up any surplus space to push footer down*/
flex: 10 auto;
}
/* footer */
footer {
background-color: orange;
}